body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #fff;
}

.hero {
  background: url('https://i.postimg.cc/pX8VMrdz/Hintergrund.png') no-repeat center center/cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

  .hero h1, .hero p {
    opacity: 0; /* Anfangs unsichtbar */
    animation: fadeInText 2s ease-out forwards; /* Animation für beide Texte */
  }

  .hero h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
    animation-delay: 0.5s; /* Verzögerung für h1 */
  }

  .hero p {
    font-size: 1.5rem;
    font-weight: 300;
    animation-delay: 1.5s; /* Verzögerung für p */
  }

    .hero h1:hover, .hero p:hover {
      transform: scale(1.1); /* Vergrößert den Text beim Hover */
      color: #ff9800; /* Orange beim Hover */
      transition: transform 0.3s ease, color 0.3s ease; /* Sanfter Übergang */
    }

.container {
  margin-top: 40px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 1.5s;
  transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

  h2:hover {
    transform: scale(1.1);
    color: #ff9800;
    font-size: 2.2rem;
  }

footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

  footer a {
    color: #ff9800;
    text-decoration: none;
    font-weight: 600;
    transition: transform 0.3s ease, color 0.3s ease;
  }

    footer a:hover {
      transform: scale(1.1);
      color: #ff9800;
    }

.navbar {
  background-color: #111;
}

  .navbar .navbar-brand {
    color: #ff9800;
    font-weight: 600;
  }

  .navbar .navbar-nav .nav-link {
    color: #fff;
  }

    .navbar .navbar-nav .nav-link:hover {
      color: #ff9800;
    }

.gallery img {
  border-radius: 15px;
  transition: transform 0.3s ease;
  max-height: 300px;
  object-fit: cover;
}

  .gallery img:hover {
    transform: scale(1.05);
  }

h2:hover, .hero h1:hover, .hero p:hover {
  transform: scale(1.1);
  color: #ff9800;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
